.overview_pg{
    margin-top: 54px;
}
.overview_stat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* justify-content: space-evenly; */
    width: 100%;
}
.overview_info{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 1px solid; */
    border-radius: 5px;
    padding: 24px 32px;
    background: #fff;
    box-shadow: 15px;
    width: 55%;
    margin: auto;
}
.overview_info p{
    padding-bottom: 12px;
}

/* trend  */
.trends{
    width: 90%;
    background: #fff;
    margin: auto;
    border-radius: 5px;
    height: 80vh;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}
.trends_head{
    padding: 32px;
}
.trend_title_stat{
    display: flex;
    justify-content: space-between;
}
.trend_day{
    display: flex;
    justify-content: space-evenly;
}
.trends_headB img{
    width: 100%;
    margin-top: 54px;
    height: 55vh;
}

/* summary  */
.trends_summary{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.summary_type{
    padding: 32px;
    border-left: 1px solid #F7F8FC;
    border-bottom: 1px solid #F7F8FC;
    text-align: center;
}
.summary_type p{
    margin-bottom: 6px;
}

/* Tickets */
.ticket_n_task{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.ticket,.task{
    border-radius: 5px;
    background: #fff;
}
.ticket_head{
    padding: 32px;
    margin-bottom: 8px;
    width: 80%;
    height: 10vh;
}
.ticket_title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
.ticket_list a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    border-bottom: 1px solid #F7F8FC;
    margin-top: 36px;
}