.ticket_pg{
    background: #fff;
    border-radius: 5px;
    height: 96vh;
    width: 95%;
    margin: auto;
    margin-top: 54px;
}
.ticket_title{
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
.title_R{
    display: grid;
    grid-template-columns: 1fr 1fr;
}