.head_er{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 30px;
}
.headerR{
    display: flex;
    justify-content: space-between;
}
.headerR i{

}
.headerR h3{
    padding: 13px 32px;
    border-left: 1px solid #000;
}