.head_er{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.headerR{
    display: flex;
    justify-content: space-between;
}
.headerR h3{
    padding: 13px 32px;
    border-left: 1px solid #000;
}