.login{
    height: 63vh;
    width: 20%;
    margin: auto;
    border-radius: 10px;
    margin-top: 139px;
    background: #fff;
    padding: 40px 32px;
}
.login_form{
    display: flex;
    flex-direction: column;
}
.login_form label{
    text-align: left;
    /* margin-bottom: ; */
}
.login_form input{
    margin-bottom: 24px;
    padding: 11px 30px;
    border: 1px solid;
    border-radius: 5px;
}
.login_form small{
    margin-bottom: 48px;
}
.login_form button{
    padding: 13px 30px;
    background: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.form_input{
    width: 85%;
}
.form_input input{
    width: 100%;
}
.<!-- Font-Awesome  -->
<link 
  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" 
/>