.dashboard{
    display: grid;
    grid-
    grid-template-columns: 1fr 3fr;
}
.navbar{
    padding: 41px 0;
}
.logo{
    display: flex;
    padding: 43px 43px;
    padding-bottom: 63px;
    padding-top: 0;
}
.logo p{
    margin-left: 5px;
}
.heading{
    width: 100%;
    display: flex;
    padding: 18px 24px;
}
.heading p{
    margin-left: 5px;
}
.heading:hover{
    border-left: 1px solid #fff;
    color: #fff;
}